body {
margin: 2;
padding: 2;
font-family: sans-serif;	
background-color: gray;
}

.none {
display: none !important;
}

p { m
margin: 0 0 5px;
} 

.article {
background: #FFF;
border: 1px solid rgba(0, 89, 181, 0.82);
width: 900px;
margin: 0 0 5px;
box-shadow: 2px 2px 50px -1px rgb(0, 81, 202);
padding: 3px 5px;
} 

.news__author {
text-decoration: underline;
color: #007DDC;
} 

.news__count {
margin: 10px 0 0 0;
display: block;
}